<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87990">  <td>20/02/29 18:07:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestStep.user_launches_browser()[pri:0, instance:stepDef.TestStep@318ba8c8]">&gt;&gt;user_launches_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215219944</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>20/02/29 18:07:45</td>   <td>5593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestStep.user_goes_to_url()[pri:1, instance:stepDef.TestStep@318ba8c8]">user_goes_to_url</td> 
  <td>main@215219944</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>20/02/29 18:07:49</td>   <td>9384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestStep.user_searches_any_term()[pri:2, instance:stepDef.TestStep@318ba8c8]">user_searches_any_term</td> 
  <td>main@215219944</td>   <td></td> </tr>
<tr bgcolor="c87990">  <td>20/02/29 18:07:54</td>   <td>14794</td> <td>&nbsp;</td><td title="&lt;&lt;TestStep.user_closes_browser()[pri:0, instance:stepDef.TestStep@318ba8c8]">&lt;&lt;user_closes_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215219944</td>   <td></td> </tr>
</table>
